<%- include('partials/header', { title: "Login" }) %>
<h1>Login</h1>

<!-- Display error message if there's one -->
<% if (error) { %>
    <div style="color: red; font-weight: bold;">
        <%= error %>
    </div>
<% } %>

<form action="/login" method="POST">
    <div class="form-input-container">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
    </div>
    <div class="form-input-container">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
    </div>
    <button type="submit">Login</button>
</form>

<p>Don't have an account? <a href="/signup">Sign up here</a></p>
<p><a href="/">Go back to Home</a></p>

<%- include('partials/footer') %>
