<%- include('partials/header', { title: "Login", user: user || null }) %>

<h1>Login</h1>

<form action="/login" method="POST">
    <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
    </div>
    <% if (errorMessage) { %>
        <div class="error-message"><%= errorMessage %></div>
    <% } %>
    <button type="submit">Login</button>
</form>

<%- include('partials/footer') %>

